<a href="https://colab.research.google.com/github/melisasjc/PROJECT-NEWS-intent/blob/main/PNews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Check if NVIDIA GPU is enabled
!nvidia-smi

Wed May 12 17:54:59 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.19.01    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   33C    P8    28W / 149W |      0MiB / 11441MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
import tensorflow as tf

In [4]:
false = pd.read_csv("/content/gdrive/MyDrive/CAIR CONTENT/Fake.csv")

**EXPLORATORY DATA ANALYSIS** 

      Head , Info , Shape , Missing values

In [6]:
false.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [8]:
df = false

In [13]:
df.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [16]:
df.shape

(23481, 4)

In [14]:
df.isna().sum() # Checking for nan Values

title      0
text       0
subject    0
date       0
dtype: int64

**TO CHECK DUPLICATE VALUES AND THEN REMOVE**

In [20]:
duplicateValues = df.duplicated()
print(duplicateValues.sum())
df[duplicateValues]

3

                                                   title  ...          date
9942   HILLARY TWEETS MESSAGE In Defense Of DACA…OOPS...  ...   Sep 9, 2017
11446  FORMER DEMOCRAT WARNS Young Americans: “Rioter...  ...  Mar 10, 2017
14925  [VIDEO] #BlackLivesMatter Terrorists Storm Dar...  ...  Nov 16, 2015

[3 rows x 4 columns]

In [21]:
df.drop_duplicates(inplace=True)

In [23]:
duplicateValues = df.duplicated()
print(duplicateValues.sum())

0

**Data after the dupliacy removal**

In [24]:
df.shape

(23478, 4)